<html>
  <head>
    <title>StreetEasy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
  <div class="container">

  <div class="row">
    <div class="col-md-12">
     <div class="rental-header text-center ">
      <h1><%= @title %></h1>
      </div>


       <!-- Left -->
       <div class="col-md-6">
 
        <div class="row">
          <div class="result-box clearfix">
			  <img src="http://briargatemanagement.com/apartments/apartments_33_1.jpg" alt="house info" class="pull-left gap-right result-img">
			  <div class="pull-left result-info">
			  <p><strong>130 5th Avenue</strong></p>
			  <p>New York</p>
			  </div>
			  <div class="result-btn pull-right">
			  <button type="button" onclick="addToCart()" class="btn btn-default">Add</button>
			  </div> 
			 <div class="clear"></div> 
		 </div>
        </div>

        <div class="row">
          <div class="result-box clearfix">
			  <img src="http://briargatemanagement.com/apartments/apartments_33_1.jpg" alt="house info" class="pull-left gap-right result-img">
			  <div class="pull-left result-info">
			  <p><strong>130 5th Avenue</strong></p>
			  <p>New York</p>
			  </div>
			  <div class="result-btn pull-right">
			  <button type="button" onclick="addToCart()" class="btn btn-default">Add</button>
			  </div> 
			 <div class="clear"></div> 
		 </div>
        </div>


        <div class="row">
          <div class="result-box clearfix">
			  <img src="http://briargatemanagement.com/apartments/apartments_33_1.jpg" alt="house info" class="pull-left gap-right result-img">
			  <div class="pull-left result-info">
			  <p><strong>130 5th Avenue</strong></p>
			  <p>New York</p>
			  </div>
			  <div class="result-btn pull-right">
			  <button type="button" onclick="addToCart()" class="btn btn-default">Add</button>
			  </div> 
			 <div class="clear"></div> 
		 </div>
        </div>

       </div>
       <!-- Left End -->


       <!-- Right -->
       <div class="col-md-6">
         
           <div class="row">
          <div class="result-box clearfix">
			  <img src="http://briargatemanagement.com/apartments/apartments_33_1.jpg" alt="house info" class="pull-left gap-right result-img">
			  <div class="pull-left result-info">
			  <p><strong>130 5th Avenue</strong></p>
			  <p>New York</p>
			  </div>
			  <div class="result-btn pull-right">
			  <button type="button" onclick="addToCart()" class="btn btn-default">Add</button>
			  </div> 
			 <div class="clear"></div> 
		 </div>
        </div>

        <div class="row">
          <div class="result-box clearfix">
			  <img src="http://briargatemanagement.com/apartments/apartments_33_1.jpg" alt="house info" class="pull-left gap-right result-img">
			  <div class="pull-left result-info">
			  <p><strong>130 5th Avenue</strong></p>
			  <p>New York</p>
			  </div>
			  <div class="result-btn pull-right">
			  <button type="button" onclick="addToCart()" class="btn btn-default">Add</button>
			  </div> 
			 <div class="clear"></div> 
		 </div>
        </div>


        <div class="row">
          <div class="result-box clearfix">
			  <img src="http://briargatemanagement.com/apartments/apartments_33_1.jpg" alt="house info" class="pull-left gap-right result-img">
			  <div class="pull-left result-info">
			  <p><strong>130 5th Avenue</strong></p>
			  <p>New York</p>
			  </div>
			  <div class="result-btn pull-right">
			  <button type="button" onclick="addToCart()" class="btn btn-default">Add</button>
			  </div> 
			 <div class="clear"></div> 
		 </div>
        </div>

       </div>
       <!-- Right End -->


    </div>
  </div>
    <div id="result-cart" class="circle1">
       <img src="images/cart@2x.png">
    	<div id="result-cart-count" class="circle2">
    	 <span id="addCount">1</span>
    	</div>
    </div>
   </div> 
  </body>
</html>

<script src="js/script.js"></script>